<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola</h1>
    <p>
      Ha llegado una nueva tarea: <%= @title %>
    </p>
        <p> Hora de inicio de la tarea: <%= @inicio %></p>
        <p> Hora de fin de la tarea: <%= @fin %></p>
        
    <p> Gracias. </p>
  </body>
</html>